html {
  font-size: 12px;
}

body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  padding: 1.3rem 0;
  margin-top: 1.3rem;
}

header {
  margin-top: 1.3rem;
  margin-bottom: 4rem;
}

header a {
  color: #888888;
  margin-right: 1.3rem;
  text-decoration: none;
}

h1 {
  font-size: 5.3rem;
  margin-bottom: 1.3rem;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 0.7rem;
}

button {
  cursor: pointer;
  padding: 0.7rem;
  border: 1px solid #888888;
  background: #888888;
  color: white;
}